<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="DDK Target" sequenceNumber="24">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
  <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
  <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
  <unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
  <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
  <repository location="http://download.eclipse.org/technology/swtbot/releases/4.2.1/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.jdt.source.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.platform.source.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/eclipse/updates/4.34/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
  <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
  <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.39.0/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/releases/2022-12/202212071000/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.xpand.sdk.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201605260315/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.21.0/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.xtext.generator" version="0.0.0"/>
    <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.40.0/"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <repository location="https://download.eclipse.org/lsp4j/updates/releases/0.23.1/"/>
    <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220830213456/repository"/>
    <unit id="org.apache.logging.log4j" version="2.17.1.v20220106-2156"/>
    <unit id="org.apache.commons.lang" version="2.6.0.v20220406-2305"/>
    <unit id="org.apache.log4j" version="1.2.19.v20220208-1728"/>
    <unit id="org.slf4j.ext" version="1.7.30.v20200204-2150"/>
    <unit id="org.mockito" version="2.23.0.v20200310-1642"/>
    <unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
    <unit id="org.junit" version="4.13.2.v20211018-1956"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <repository location="https://download.eclipse.org/tools/orbit/simrel/maven-osgi/2025-09"/>
    <unit id="junit-jupiter-api" version="5.13.4"/>
    <unit id="junit-vintage-engine" version="5.13.4"/>
  </location>
</locations>
</target>
