<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelInference -->
      <package
            uri="http://www.avaloq.com/tools/ddk/xtext/modelinference"
            class="com.avaloq.tools.ddk.xtext.modelinference.ModelInferencePackage"
            genModel="model/ModelInference.genmodel"/>
   </extension>

</plugin>
