<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://www.avaloq.com/tools/ddk/xtext/export/Export"
       class = "com.avaloq.tools.ddk.xtext.export.export.ExportPackage"
       genModel = "com/avaloq/tools/ddk/xtext/export/Export.genmodel" />

  </extension>




</plugin>
