<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point
    id="com.avaloq.tools.ddk.check.runtime.core.check"
    name="Check extension point"
    schema="schema/check.exsd"
  />
  <extension-point
    id="com.avaloq.tools.ddk.check.runtime.core.checkquickfix"
    name="Check Quickfix extension point"
    schema="schema/checkquickfix.exsd"
  />

</plugin>
