<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://www.avaloq.com/tools/ddk/check/Check"
       class = "com.avaloq.tools.ddk.check.check.CheckPackage"
       genModel = "com/avaloq/tools/ddk/check/Check.genmodel" />

  </extension>

</plugin>
