<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="check"
            icon="icons/editor.gif"
            id="com.avaloq.tools.ddk.check.Check"
            matchingStrategy="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.editor.JavaEditorInputMatcher"
            name="Check Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.avaloq.tools.ddk.check.Check.validate">
         <activeWhen>
            <reference
                    definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
            </reference>
         </activeWhen>
        </handler>
        <!-- copy qualified name -->
        <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
        <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
              <and>
                <reference definitionId="com.avaloq.tools.ddk.check.Check.XtextEditor.opened" />
                  <iterate>
            <adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
          </iterate>
        </and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.avaloq.tools.ddk.check.Check.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
                        value="com.avaloq.tools.ddk.check.Check"
                        forcePluginActivation="true"/>
                </with>
            </and>
        </definition>
        <definition id="com.avaloq.tools.ddk.check.Check.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
                        value="com.avaloq.tools.ddk.check.Check"
                        forcePluginActivation="true"/>
                </with>
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.avaloq.tools.ddk.check.Check"
            name="Check">
            <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
        </page>
        <page
            category="com.avaloq.tools.ddk.check.Check"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.avaloq.tools.ddk.check.Check.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
        </page>
        <page
            category="com.avaloq.tools.ddk.check.Check"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.avaloq.tools.ddk.check.Check.templates"
            name="Templates">
            <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.avaloq.tools.ddk.check.Check"
            name="Check">
            <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
            <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject"/>
      </enabledWhen>
          <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.avaloq.tools.ddk.check.ui.keyword_Check"
            label="Check"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.avaloq.tools.ddk.check.Check.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.avaloq.tools.ddk.check.Check.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
                </reference>
            </visibleWhen>
         </command>
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
          <command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            style="push" tooltip="Copy Qualified Name">
              <visibleWhen checkEnabled="false">
                  <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened" />
              </visibleWhen>
          </command>
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
          <command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
              style="push" tooltip="Copy Qualified Name">
              <visibleWhen checkEnabled="false">
                  <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened" />
              </visibleWhen>
          </command>
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
      <command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
        style="push" tooltip="Copy Qualified Name">
            <visibleWhen checkEnabled="false">
                <and>
                  <reference definitionId="com.avaloq.tools.ddk.check.Check.XtextEditor.opened" />
            <iterate>
              <adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
            </iterate>
          </and>
        </visibleWhen>
      </command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
      <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
        <visibleWhen checkEnabled="false">
                  <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
                  </reference>
              </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.handlers">
      <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>

<!-- adding resource factories -->

  <extension
    point="org.eclipse.emf.ecore.extension_parser">
    <parser
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
      type="check">
    </parser>
  </extension>
  <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="check">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for com.avaloq.tools.ddk.check.Check -->
    <extension
            id="check.check.fast"
            name="Check Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="check.check.normal"
            name="Check Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="check.check.expensive"
            name="Check Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

  <!-- Quick Outline -->
  <extension
    point="org.eclipse.ui.handlers">
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
      commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
      <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>
  <extension
    point="org.eclipse.ui.commands">
    <command
      description="Open the quick outline."
      id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
      name="Quick Outline">
    </command>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
        style="push"
        tooltip="Open Quick Outline">
        <visibleWhen checkEnabled="false">
          <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
    <!-- quickfix marker resolution generator for com.avaloq.tools.ddk.check.Check -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.avaloq.tools.ddk.check.ui.check.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.avaloq.tools.ddk.check.ui.check.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.avaloq.tools.ddk.check.ui.check.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
    <!-- Rename Refactoring -->
  <extension point="org.eclipse.ui.handlers">
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
      commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
      <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
          category="com.avaloq.tools.ddk.check.Check"
          class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
          id="com.avaloq.tools.ddk.check.Check.refactoring"
          name="Refactoring">
          <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
      </page>
  </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="com.avaloq.tools.ddk.check.Check.compare.contentViewers"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="check">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="com.avaloq.tools.ddk.check.Check.compare.contentMergeViewers"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="check" label="Check Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="com.avaloq.tools.ddk.check.Check.editors.documentProviders"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="check">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="check"
            type="text">
    </fileTypes>
  </extension>

<!-- Type Hierarchy  -->
  <extension
    point="org.eclipse.ui.handlers">
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
      commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
      <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
      commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy">
      <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
    <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.imports.OrganizeImportsHandler"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
            <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
        </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.xtext.xbase.ui.organizeImports"
                 style="push"
                 tooltip="Organize Imports">
                <visibleWhen checkEnabled="false">
                    <reference
                        definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
                    </reference>
                </visibleWhen>
            </command>
        </menuContribution>
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
        style="push"
        tooltip="Open Type Hierarchy">
        <visibleWhen checkEnabled="false">
          <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy"
        style="push"
        tooltip="Quick Type Hierarchy">
        <visibleWhen checkEnabled="false">
          <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <!-- Call Hierachy -->
  <extension
    point="org.eclipse.ui.handlers">
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierachyHandler"
      commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
      <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
        style="push"
        tooltip="Open Call Hierarchy">
        <visibleWhen checkEnabled="false">
          <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension
         point="org.eclipse.core.runtime.adapters">
      <factory class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
         adaptableType="org.eclipse.xtext.ui.editor.XtextEditor">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory>
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="com.avaloq.tools.ddk.check.Check"
                          id="com.avaloq.tools.ddk.check.Check.rulerActions">
       <action
               label="Not Used"
               class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               style="push"
               actionID="RulerDoubleClick"
               id="com.avaloq.tools.ddk.check.Check.doubleClickBreakpointAction"/>
    </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="com.avaloq.tools.ddk.check.Check.RulerContext"
         id="com.avaloq.tools.ddk.check.Check.RulerPopupActions">
         <action
            label="Toggle Breakpoint"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="debug"
            id="com.avaloq.tools.ddk.check.Check.rulerContextMenu.toggleBreakpointAction">
         </action>
         <action
            label="Not used"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
            menubarPath="debug"
            id="com.avaloq.tools.ddk.check.Check.rulerContextMenu.enableDisableBreakpointAction">
         </action>
         <action
           label="Breakpoint Properties"
           helpContextId="breakpoint_properties_action_context"
           class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
           menubarPath="group.properties"
           id="com.avaloq.tools.ddk.check.Check.rulerContextMenu.openBreapointPropertiesAction">
         </action>
      </viewerContribution>
      <objectContribution
            id="com.avaloq.tools.ddk.check.ui.contribution1"
            objectClass="org.eclipse.jdt.core.IJavaProject">
          <visibility>
             <and>
             <objectState name="open" value="true"/>
             <objectState name="nature" value="com.avaloq.tools.ddk.check.ui.CheckNature"/>
           </and>
         </visibility>
         <menu
               id="com.avaloq.tools.ddk.check.ui.CheckMenu"
               label="Check"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="com.avaloq.tools.ddk.check.ui.popup.actions.DeployAction"
               enablesFor="1"
               id="com.avaloq.tools.ddk.check.ui.DeployAction"
               label="Deploy"
               menubarPath="com.avaloq.tools.ddk.check.ui.CheckMenu/group">
         </action>
         <action
               class="com.avaloq.tools.ddk.check.ui.popup.actions.UndeployAction"
               enablesFor="1"
               id="com.avaloq.tools.ddk.check.ui.UndeployAction"
               label="Undeploy"
               menubarPath="com.avaloq.tools.ddk.check.ui.CheckMenu/group">
         </action>
      </objectContribution>
   </extension>
    <!-- Introduce Local Variable Refactoring -->
  <extension point="org.eclipse.ui.handlers">
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.refactoring.ExtractVariableHandler"
      commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable">
      <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <!-- Open implementation -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.navigation.OpenImplementationHandler"
            commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
            <activeWhen>
        <reference
          definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
        </reference>
      </activeWhen>
      </handler>
   </extension>
 <extension point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="menu:navigate?after=open.ext4">
         <command commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
    <visibleWhen checkEnabled="false">
              <reference
                 definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened">
              </reference>
    </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="check"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="com.avaloq.tools.ddk.check.Check"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="com.avaloq.tools.ddk.check.Check.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="com.avaloq.tools.ddk.check.Check"
            class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="com.avaloq.tools.ddk.check.Check.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="com.avaloq.tools.ddk.check.ui.keyword_Check"/>
            <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject"/>
      </enabledWhen>
          <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
      <command
        commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
        id="com.avaloq.tools.ddk.check.Check.OpenGeneratedCode"
        style="push">
          <visibleWhen checkEnabled="false">
            <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened" />
          </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
      commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
        <activeWhen>
          <reference definitionId="com.avaloq.tools.ddk.check.Check.Editor.opened" />
        </activeWhen>
    </handler>
  </extension>

   <!-- Check new project and file wizard -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.avaloq.tools.ddk.check.ui.wizard"
            name="Check">
      </category>
      <wizard
            category="com.avaloq.tools.ddk.check.ui.wizard"
            descriptionImage="icons/editor.gif"
            icon="icons/editor.gif"
            id="com.avaloq.tools.ddk.check.ui.wizard.NewCheckProjectWizard"
            name="Check Project"
            project="true">
            <class class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory">
              <parameter name="javatype" value="true" />
              <parameter name="guicekey" value="com.avaloq.tools.ddk.check.ui.wizard.NewCheckProjectWizard" />
            </class>
      </wizard>
      <wizard
            category="com.avaloq.tools.ddk.check.ui.wizard"
            descriptionImage="icons/editor.gif"
            icon="icons/editor.gif"
            id="com.avaloq.tools.ddk.check.ui.wizard.NewCheckCatalogWizard"
            name="Check Catalog">
            <class class="com.avaloq.tools.ddk.check.ui.CheckExecutableExtensionFactory">
              <parameter name="javatype" value="true" />
              <parameter name="guicekey" value="com.avaloq.tools.ddk.check.ui.wizard.NewCheckCatalogWizard" />
            </class>
      </wizard>
   </extension>

   <!-- Check Nature -->
   <extension
      point="org.eclipse.core.resources.natures"
      id="CheckNature"
      name="Check Nature">
      <runtime>
         <run class="com.avaloq.tools.ddk.check.ui.internal.CheckNature">
         </run>
      </runtime>
   </extension>
</plugin>
