name: verify
on:
  push:
    branches: [master]
  pull_request:
jobs:
  pmd:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set up Workspace Environment Variable
        run: echo "WORKSPACE=${{ github.workspace }}" >> $GITHUB_ENV
      - name: PMD Check
        run: mvn pmd:pmd pmd:cpd pmd:check pmd:cpd-check -f ./ddk-parent/pom.xml --batch-mode --fail-at-end
  checkstyle:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set up Workspace Environment Variable
        run: echo "WORKSPACE=${{ github.workspace }}" >> $GITHUB_ENV
      - name: Checkstyle Check
        run: mvn checkstyle:checkstyle checkstyle:check -f ./ddk-parent/pom.xml --batch-mode --fail-at-end
  maven-verify:
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.11
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set up Workspace Enviroment Variable
        run: echo "WORKSPACE=${{ github.workspace }}" >> $GITHUB_ENV
      - name: Cache Maven dependencies
        uses: actions/cache@v5
        with:
          path: /home/runner/.m2/repository
          key: ${{ runner.os }}-maven-0-${{ hashFiles('**/pom.xml') }}
      - name: Build with Maven  within a virtual X Server Environment
        # Run pmd:pmd and pmd:cpd first to generate reports for all modules, then run pmd:check and pmd:cpd-check
        # This ensures all violations are collected and reported before the build fails
        run: xvfb-run mvn clean verify checkstyle:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check spotbugs:check -f ./ddk-parent/pom.xml --batch-mode --fail-at-end
      - name: Archive Tycho Surefire Plugin
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: tycho-surefire-plugin
          path: ${{ env.GITHUB_WORKSPACE }}/com.avaloq.tools.ddk.xtext.test/target/work/data/.metadata/.log
